## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [1]:
#處理作業系統相關及目錄路徑的模組 
import os
#用於數學函數的運算
import numpy as np
#用於讀取以及管理資料
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'

In [3]:
#用 chardet 的語法去檢查檔案的編碼格式
import chardet
with open('./data/HomeCredit_columns_description.csv', 'rb') as f:
    result = chardet.detect(f.read())
print(result)

{'encoding': 'Windows-1252', 'confidence': 0.73, 'language': ''}

In [4]:
#根據上一部檢查出的 encoding 來 read
f_app = os.path.join(dir_data, 'HomeCredit_columns_description.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app, encoding='windows-1252')

Path of read in data: ./data/HomeCredit_columns_description.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [5]:
print(app_train.shape)

(219, 5)

共5欄、219筆資料

#### 列出所有欄位

In [6]:
print(app_train.columns)

Index(['Unnamed: 0', 'Table', 'Row', 'Description', 'Special'], dtype='object')

#### 截取部分資料

In [7]:
app_train.head()

,Unnamed: 0,Table,Row,Description,Special
0,1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN
1,2,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...,NaN
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
3,6,application_{train|test}.csv,CODE_GENDER,Gender of the client,NaN
4,7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN

#### 呈現Table欄位的種類及個數

In [8]:
app_train.groupby("Table").size()

Table
POS_CASH_balance.csv              8
application_{train|test}.csv    122
bureau.csv                       17
bureau_balance.csv                3
credit_card_balance.csv          23
installments_payments.csv         8
previous_application.csv         38
dtype: int64

In [9]:
pd.value_counts(app_train.Table)

application_{train|test}.csv    122
previous_application.csv         38
credit_card_balance.csv          23
bureau.csv                       17
POS_CASH_balance.csv              8
installments_payments.csv         8
bureau_balance.csv                3
Name: Table, dtype: int64

#### 呈現Special欄位的種類及個數

In [10]:
pd.value_counts(app_train.Special)

normalized                               53
time only relative to the application    19
hashed                                    9
rounded                                   2
grouped                                   1
normalized                                1
recoded                                   1
Name: Special, dtype: int64

資料總和不足219筆資料，確認有幾筆遺失值<br>
Step1>利用isnull標記是否為遺失值(True:遺失值, False:非遺失值)<br>
Step2>利用pd.DataFrame轉成df<br>
step3>計算遺失值個數

In [11]:
pd.DataFrame(app_train.ix[:, "Special"].isnull()).groupby("Special").size()

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  """Entry point for launching an IPython kernel.

Special
False     86
True     133
dtype: int64

In [12]:
pd.value_counts(app_train.ix[:, "Special"].isnull())

True     133
False     86
Name: Special, dtype: int64

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子